/* src/components/ServiceList.css */

.service-list-container {
    padding: 20px;
    background-image: url('../assets/healthcarebg.jpeg'); /* Add background image */
    background-size: cover;
    min-height: 100vh;
    color: #333;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .logo {
    height: 60px;
    margin-right: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color: #4CAF50;
    color: white;
  }
  
  .add-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .add-button:hover {
    background-color: #45a049;
  }
  